table {
  width: 80%;
  margin: 0 auto;
}

td {
  text-align: center;
}

img {
  margin: 0 auto;
  display: block;
  width: 200px;
  height: 200px;
  object-fit: cover;
}

.message {
  text-align: center;
  padding-top: 80px;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}

.random-thing {
  font-size: 100px;
}
